body {background-color: #EBEBEB;}

h1{
    font-family:monospace;
    text-transform: uppercase;
    color: #003CBF;
    font-size: 2.5rem;
}

h2{
    font-family:sans-serif;
    color:#6F788B;
    background-color: #003CBF;
    margin-bottom: 1.5rem;
    color: #BBC0CC;
    font-size: 1.25rem;
    margin-bottom: .5rem;
    padding: 2rem;
}

p{
    font-family:sans-serif;
    color:#3D3D3D;
}
.first{
    font-size: 1.25rem;
    line-height: 1.5em;
    
}

.second
{
    color: #BBC0CC;
    line-height: 0.75em;
    width: 36em;
}

.printonly {display: none; }